#aircraftList {
	margin-top: 0 !important;
}
.ui.button.micro.alliance.airline.aircraft {
	width: 64px;
	margin-right: 4px;
}
.content.aircraft:not(.flight) {
	max-width: 130px;
}
.data.aircraft:not(.flight) {
	max-width: 130px;
}
.ui.button.micro.airline.aircraft.purchase {
}
.ui.button.micro.airline.aircraft.configs {
}
.ui.horizontal.statistics.mini.airport.aircraft.flight {
	width: 100px;
}
.ui.dividing.header.airport.aircraft {
	margin-bottom: 0;
}
.airport.aircraft.data.flight { 
	max-width: 100px;
}
.aircraft.compressed .content {
	margin-left: 20px;
	width: 279px;
}
.aircraft.compressed .ui.button {
	margin-right: 4px;
}
.ui.dividing.header.airport.flight.empty {
	height: 32px;
	margin-bottom: 0;
}
.ui.dividing.header.airport.flight.empty .data {
	color: #999999;
	font-size: 13px;
	font-weight: normal;
	line-height: 32px;
	width: 220px;
	height: 32px;
	float: left;
}
.show {
	display: block;
}
.hide {
	display: none;
}