.ui.dividing.header.alliance { 
	margin: 0;
}
.ui.statistic.mini.alliance.info {
	min-width: 299px;
}
.ui.secondary.pointing.two.item.menu.blue.alliance {
	margin: 0;
}
.ui.statistic.tiny.alliance {
	min-width: 300px;
}
.ui.statistic.tiny.alliance * {
	text-align: left !important;
	margin-left: 10px;
}
.ui.statistic.tiny.alliance .value {
	font-size: 20px;
	line-height: 20px;
	margin-top: 5px;
}
.ui.statistic.tiny.alliance .label {
	margin-top: 3px;
}
.button.alliance.airline.micro {
	height: 21px;
	margin-bottom: 1px;
	margin-top: 4px;
	max-height: 21px;
	line-height: 21px;
	padding: 0;
	width: 50px;
	font-size: 12px;
	float: right;
}
.button.alliance.airline.micro.eject {
	margin-top: 18px;
}
.alliance.airport.data span {
	min-width: 175px;
}
.airline.alliance.compressed .content {
	margin-left: 20px;
}
.airline.alliance.compressed .airport.alliance.data {
	width: 200px;
}
.ui.one.bottom.attached.buttons.create {
	width: 100%;
	margin-top: -4px;
}
.ui.one.bottom.attached.buttons.create .button {
	width: 100%;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}