.game-window {
	margin-top: 100px !important;
}
#gameList {
	background: #ffffff;
	padding: 0;
	min-width: 410px;
	max-width: 410px;
	margin-left: -205px;
	left: 50%;
	position: absolute;
}
.game .ui.horizontal.statistics.mini {
	width: 190px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.ui.dividing.header.airport.game {
	margin: 0;
	padding: 0;
}
.game.data {
	font-size: 12px;
	color: #999999;
	width: 87px;
	float: left;
	font-weight: normal;
	line-height: 15px;
	height: 57px;
	display: table;
	text-align: left;
}
.game.button.status {
	float: right;
	margin-top: 10px;
	width: 112px;
}
.game.button.create {
	padding: 8px 12px;
	margin-left: 10px;
	height: 31px;
}
#newAirline input {
	padding: 6px;
	font-size: 14px;
	margin-left: 3px;
	margin-right: 1px;
	max-width: 130px;
}
