html, body {
  min-width: 920px;
  min-height: 600px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.login-window {
	width: 100%;
	height: 100%;
}
.ui.grid {
	margin-top: 100px;
}
.center-modal {
	margin-top: 100px !important;
}
form {
	margin: 0;
}
.ui.raised.segment.column.form.login-form {
	padding: 14px;
}
.button.full {
	width: 100%;
}
.ui.horizontal.statistics.mini {
	margin-left: 6px;
	width: 55px;
	float: left;
	text-align: left;
}
span {
  display: table-cell;
  vertical-align: middle;
}
#controlTabs, #controlTabs * {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	margin-bottom: 0px;
}
#leftColumn {
	width: 300px;
	background: #ffffff;
	border-right: 1px solid #999999;
	height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	position: absolute;
	left: 0px;
	top: 0px;
	display: none;
}
#leftColumn > .column {
	position: relative;
	margin-top: none;
	overflow-x: hidden;
	overflow-y: auto;
	display: none;
}
.ui.mini.icon.input.airport {
	margin-top: 5px;
}
#map {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 300px;
}
.icon.selected {
	color: #009fda;
}
text {
	margin: 0 !important;
}
.green {
	color: #007F00;
}
.red {
	color: #E50000;
}
.game-info {
	z-index: 9;
	position: absolute;
	margin: 10px 0 0 48px;
	background: #ffffff;
	border: 1px solid rgba(0,0,0,.4);
	padding: 5px 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.game-info > div {
	float: left;
	padding: 0 10px;
	border-right: 1px solid #999999;
}
.game-info > div:last-child {
	border-right: none;
}
#notifications {
  position: absolute;
  z-index: 99999;
  background: #ff0000;
}
