<!DOCTYPE !html>
<html>
  <head>
    <title>Air Tycoon</title>
    <link rel="stylesheet" href="css/semantic.min.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/game.css">
    <link rel="stylesheet" href="css/airport.css">
    <link rel="stylesheet" href="css/alliance.css">
    <link rel="stylesheet" href="css/aircraft.css">
    <link rel="stylesheet" href="css/airline.css">
    <link rel="stylesheet" href="css/chat.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.4/semantic.min.css">
  </head>
  <body>
    <script id="airportTemplate" type="text/template">
			<div class="ui dividing header airport" data-iata="<%= iata %>">
			  <div class="content airport">
					<div class="ui horizontal statistics mini airport">
					  <div class="ui statistic">
							<div class="value">
								  <%= iata %>
								</div>
							</div>
						</div>
						<div class="airport data">
							<span><%= name %><br/>
							<%= city %>, <%= country %></span>
						</div>
					</div>
			  </div>
			</div>
			</script>
		<script id="gameTemplate" type="text/template">
			<div class="ui dividing header airport game" id="game<%= id %>">
			  <div class="content">
					<div class="ui horizontal statistics mini">
					  <div class="ui statistic game">
							<div class="value">
								  <%= name %>
								</div>
							</div>
						</div>
						<div class="game data">
							<span><%= region %><br/>
							<%= plural(airlines, 'Airline') %>
						</div>
						<%= status %>
						<% if(player) { %>
							<div class="button ui blue status game">Load Game</div>
						<% } else { %>
							<div class="button ui green status game">Join Game</div>
						<% } %>
					</div>
			  </div>
			</div>
		</script>
		<script id="newAirlineTemplate" type="text/template">
			<div class="form column ui new airline">
				<form id="newAirline">
					<div class="field inline airline">
						<input type="hidden" name="[airline]game_id" value="<%= id %>" />
	        	<input placeholder="Airline Name" type="text" name="[airline]name" data-variation="inverted" maxlength="50" />
	        	<input placeholder="Code (3 letters)" type="text" name="[airline]icao" data-variation="inverted" maxlength="3" />
						<div class="button ui gray create game">Create Airline</div>
					</div>
				</form>
			</div>
		</script>
		<script id="menuTemplate" type="text/template">
			<div class="ui five item teal menu" id="controlTabs">
		    <a class="active item" data-tabid="airport">Airports</a>
		    <a class="item" data-tabid="flight">Flights</a>
		    <a class="item" data-tabid="aircraft">Aircraft</a>
		    <a class="item" data-tabid="alliance">Alliance</a>
		    <a class="item" data-tabid="more">More</a>
			</div>
			<div class="column" id="airportList" data-tabid="airport">
			</div>
			<div class="column" id="flightList" data-tabid="flight">
			</div>
			<div class="column" id="aircraftList" data-tabid="aircraft">
			</div>
			<div class="column" id="allianceList" data-tabid="alliance">
			</div>
			<div class="column" id="moreList" data-tabid="more">
			</div>
		</script>
		<script id="airportListTemplate" type="text/template">
			<div class="ui mini icon input airport">
				<input type="text" placeholder="Search Airports" class="search airport" maxlength="3">
			  <i class="search icon"></i>
			</div>
			<div class="ui dividing header airport none">
				<div class="content airport">
					<h4 class="ui center aligned header">No Airports Found</h4>
				</div>
			</div>
		</script>
		<script id="allianceInfoTemplate" type="text/template">
			<div class="alliance info">
				<div class="ui statistic mini alliance info">
				  <div class="value">
				    <%= name %>
				  </div>
				  <div class="label">
				    <%= plural(airlines.length-pending,'Airline') %><% if(pending > 0) { %> (<%= pending %> Pending) <% } %>
				  </div>
				</div>
			</div>
			<div class="ui secondary pointing two item alliance menu blue">
				<a class="active item" data-tab="alliance_airlines">Airlines</a>
			  <a class="item" data-tab="alliance_chat">Chat</a>
			</div>
			<div class="alliance airline list" data-tab="alliance_airlines">
				<%= allianceAirlines(airlines) %>
			</div>
			<div class="chat window" data-tab="alliance_chat" style="display:none;">
				<div class="message list">
				</div>
				<form class="ui form" id="messageForm">
					<div class="field chat">
				    <textarea id="chatMessage" class="message" name="[alliance_chat]message"></textarea>
						<input type="submit" class="ui button blue super small" name="alliance" value="Send" />
				  </div>
				</form>
			</div>
		</script>
		<script id="allianceTemplate" type="text/template">
			<div class="ui dividing header airport alliance" data-alliance="<%= id %>">
			  <div class="content">
					<div class="ui statistic tiny alliance">
						<div class="value"><%= name %></div>
					  <div class="label"><%= plural(airlines,'Airline') %></div>
					</div>
				</div>
				<div class="ui button green micro alliance airline request single">Request</div>
			</div>
		</script>
		<script id="allianceAirlineTemplate" type="text/template">
			<div class="ui dividing header airport airline" data-membership="<%= mid %>" data-id="<%= id %>">
			  <div class="content airport">
					<div class="ui horizontal statistics mini airport">
					  <div class="ui statistic">
							<div class="value">
							  <%= icao %>
							</div>
						</div>
					</div>
					<div class="airport alliance data">
						<span><%= name %><br /><%= plural(flights,'Flight') %><br /><%= aircraft %> Aircraft</span>
						<% if((admin)&&(self !== true)) { %>
							<% if(status) { %>
								<div class="ui button red micro alliance airline eject single">Eject</div>
							<% } else { %>
								<div class="ui button green micro alliance airline accept">Accept</div>
								<div class="ui button red micro alliance airline reject">Reject</div>
							<% } %>
						<% } else if((self === true)&&(admin === false)&&(!status)) { %>
							<div class="ui button red micro alliance airline pending single">Pending</div>
						<% } else if((self === true)&&(admin === false)) { %>
							<div class="ui button red micro alliance airline leave single">Leave</div>
						<% } %>
					</div>
				</div>
			</div>
		</script>
		<script id="newAllianceView" type="text/template">
			<div class="ui one bottom attached buttons create">
	      <div class="ui button primary">
	        <i class="add icon"></i>
	        Create New Alliance
				</div>
			</div>
		</script>
		<script id="airlineModalView" type="text/template">
			<div class="ui standard modal airline info" style="display:none;">
		  	<i class="close icon"></i>
		    <div class="header ui aligned center"><%= name %> (<%= icao %>)</div>
				<div class="routes container">
					<div class="ui tablet stackable steps fluid airline flights" id="airlineRouteList">
					</div>
				</div>
			</div>
		</script>
		<script id="airlineModalFlightView" type="text/template">
			<div class="step flight">
		  	<div class="content">
		    	<div class="title route"><%= route.origin.iata %><i class="resize horizontal icon"></i><%= route.destination.iata %></div>
		    	<div class="description aircraft frequencies"><%= userAircraft %><br><%= frequencies %>/week</div>
				</div>
			</div>
		</script>
		<script id="newAllianceModalView" type="text/template">
		  <div class="shaded grid create-alliance-window">
		    <div class="ui grid">
		      <div class="three column row">
		        <div class="ui column"></div>
		        <div class="ui raised segment column form login-form">
						<div class="ui header center aligned">Create a New Alliance</div>
							<form id="allianceForm">
		            <div class="field">
		              <input placeholder="Alliance Name" type="text" name="[alliance]name">
		            </div>
		            <input type="submit" class="button blue ui full" value="Create Alliance" />
		          </form>
		        </div>
		      </div>
		    </div>
			</div>
		</script>
		<script id="aircraftTemplate" type="text/template">
			<div class="ui dividing header airport aircraft" data-iata="<%= iata %>">
			  <div class="content airport alliance">
					<div class="ui horizontal statistics mini airport aircraft">
					  <div class="ui statistic">
							<div class="value">
								  <%= iata %>
								</div>
							</div>
						</div>
						<div class="airport aircraft data">
							<span><%= full_name %><br />In use: <%= user.inuse %><br />Unused: <%= user.unused %></span>
						</div>
					<% if ((user.inuse > 0)||(user.unused > 0)) { %>
						<div class="ui button green micro alliance airline purchase aircraft">Purchase</div>
						<div class="ui button blue micro alliance airline configs aircraft">Configs</div>
					<% } else { %>
						<div class="ui button green micro alliance airline purchase aircraft single">Purchase</div>
						<% } %>
					</div>
			  </div>
			</div>
			<div class="aircraft compressed hide" id="list<%= iata %>">
				<% _.each(user.aircraft.models,function(aircraft){ %>
					<% aircraft = aircraft.attributes %>
					<% if(aircraft.flight === null){ %>
						<div class="ui dividing header airport flight empty">
							<div class="content aircraft flight">
								<div class="aircraft data flight">
									<span>Unused with <%= aircraft.configuration.name %></span>
								</div>
								<div class="ui button blue micro alliance airline">Edit</div>
							</div>
						</div>
					<% } else { %>
						<div class="ui dividing header airport game flight">
							<div class="content airport aircraft flight">
								<div class="ui horizontal statistics mini airport aircraft flight">
								  <div class="ui statistic">
										<div class="value">
										  <%= aircraft.flight.route.origin.iata %>-<%= aircraft.flight.route.destination.iata %>
										</div>
									</div>
								</div>
								<div class="airport aircraft data flight">
									<span>100% Load Factor<br /><%= aircraft.flight.frequencies %>x/week<br /><%= aircraft.configuration.name %></span>
								</div>
								<div class="ui button blue micro alliance airline single">Edit</div>
							</div>
						</div>
					<% } %>
				<% }) %>
			</div>
		</script>
		<script id="aircraftPurchaseTemplate" type="text/template">
			<div class="route-panel" id="aircraftPanel" style="margin-top: 100px !important;">
  <i class="icon remove"></i>
  <div class="fleet-info" style="display:none;">
    <div class="info" style="border: 1px solid rgba(0,0,0,.15) !important; border-width: 0 0 1px 0 !important;">
      <div class="ui statistic">
        <div class="value total-aircraft">23</div>
        <div class="label">Owned Aircraft</div>
      </div>
      <div class="ui statistic">
        <div class="value unused-aircraft">1</div>
        <div class="label">Unused Aircraft</div>
      </div>
    </div>
    <div class="ui unordered steps aircraft-list vertical" style="height: 436px;">
      <a class="step own active" id="aircraft1" data-aircraftid="1">
        <div class="content">
          <div class="title">Boeing 737-700</div>
          <div class="description">Range: 3,950mi // Capacity: 149</div>
        </div>
      </a>
      <a class="step own" id="aircraft2" data-aircraftid="2">
        <div class="content">
          <div class="title">Boeing 737-800</div>
          <div class="description">Range: 3,400mi // Capacity: 189</div>
        </div>
      </a>
      <a class="step own" id="aircraft3" data-aircraftid="3">
        <div class="content">
          <div class="title">Boeing 737-900ER</div>
          <div class="description">Range: 3,520mi // Capacity: 220</div>
        </div>
      </a>
      <a class="step own" id="aircraft4" data-aircraftid="4">
        <div class="content">
          <div class="title">Boeing 747-400</div>
          <div class="description">Range: 8,350mi // Capacity: 565</div>
        </div>
      </a>
      <a class="step own" id="aircraft5" data-aircraftid="5">
        <div class="content">
          <div class="title">Boeing 747-8i</div>
          <div class="description">Range: 9,200mi // Capacity: 605</div>
        </div>
      </a>
      <a class="step own" id="aircraft6" data-aircraftid="6">
        <div class="content">
          <div class="title">Boeing 757-200</div>
          <div class="description">Range: 4,700mi // Capacity: 239</div>
        </div>
      </a>
      <a class="step own" id="aircraft7" data-aircraftid="7">
        <div class="content">
          <div class="title">Boeing 757-300</div>
          <div class="description">Range: 4,150mi // Capacity: 295</div>
        </div>
      </a>
      <a class="step own" id="aircraft8" data-aircraftid="8">
        <div class="content">
          <div class="title">Boeing 767-200ER</div>
          <div class="description">Range: 7,350mi // Capacity: 290</div>
        </div>
      </a>
      <a class="step own" id="aircraft9" data-aircraftid="9">
        <div class="content">
          <div class="title">Boeing 767-300ER</div>
          <div class="description">Range: 7,260mi // Capacity: 350</div>
        </div>
      </a>
      <a class="step own" id="aircraft10" data-aircraftid="10">
        <div class="content">
          <div class="title">Boeing 767-400</div>
          <div class="description">Range: 6,450mi // Capacity: 375</div>
        </div>
      </a>
      <a class="step own" id="aircraft11" data-aircraftid="11">
        <div class="content">
          <div class="title">Boeing 777-200ER</div>
          <div class="description">Range: 8,900mi // Capacity: 440</div>
        </div>
      </a>
      <a class="step own" id="aircraft12" data-aircraftid="12">
        <div class="content">
          <div class="title">Boeing 777-200LR</div>
          <div class="description">Range: 10,800mi // Capacity: 440</div>
        </div>
      </a>
      <a class="step own" id="aircraft13" data-aircraftid="13">
        <div class="content">
          <div class="title">Boeing 777-300ER</div>
          <div class="description">Range: 9,100mi // Capacity: 550</div>
        </div>
      </a>
      <a class="step own" id="aircraft14" data-aircraftid="14">
        <div class="content">
          <div class="title">Boeing 787-8</div>
          <div class="description">Range: 9,030mi // Capacity: 380</div>
        </div>
      </a>
      <a class="step own" id="aircraft15" data-aircraftid="15">
        <div class="content">
          <div class="title">Boeing 787-9</div>
          <div class="description">Range: 9,550mi // Capacity: 420</div>
        </div>
      </a>
      <a class="step own" id="aircraft16" data-aircraftid="16">
        <div class="content">
          <div class="title">Boeing 787-10</div>
          <div class="description">Range: 8,080mi // Capacity: 460</div>
        </div>
      </a>
      <a class="step own" id="aircraft17" data-aircraftid="17">
        <div class="content">
          <div class="title">Airbus A318</div>
          <div class="description">Range: 3,700mi // Capacity: 132</div>
        </div>
      </a>
      <a class="step own" id="aircraft18" data-aircraftid="18">
        <div class="content">
          <div class="title">Airbus A319</div>
          <div class="description">Range: 4,300mi // Capacity: 156</div>
        </div>
      </a>
      <a class="step own" id="aircraft19" data-aircraftid="19">
        <div class="content">
          <div class="title">Airbus A320</div>
          <div class="description">Range: 3,800mi // Capacity: 180</div>
        </div>
      </a>
      <a class="step own" id="aircraft20" data-aircraftid="20">
        <div class="content">
          <div class="title">Airbus A321</div>
          <div class="description">Range: 3,700mi // Capacity: 220</div>
        </div>
      </a>
      <a class="step own" id="aircraft21" data-aircraftid="21">
        <div class="content">
          <div class="title">Airbus A330-200</div>
          <div class="description">Range: 8,285mi // Capacity: 375</div>
        </div>
      </a>
      <a class="step own" id="aircraft22" data-aircraftid="22">
        <div class="content">
          <div class="title">Airbus A330-300</div>
          <div class="description">Range: 7,020mi // Capacity: 410</div>
        </div>
      </a>
      <a class="step own" id="aircraft23" data-aircraftid="23">
        <div class="content">
          <div class="title">Airbus A340-300</div>
          <div class="description">Range: 8,500mi // Capacity: 400</div>
        </div>
      </a>
      <a class="step own" id="aircraft24" data-aircraftid="24">
        <div class="content">
          <div class="title">Airbus A340-500</div>
          <div class="description">Range: 9,980mi // Capacity: 420</div>
        </div>
      </a>
      <a class="step own" id="aircraft25" data-aircraftid="25">
        <div class="content">
          <div class="title">Airbus A340-600</div>
          <div class="description">Range: 8,920mi // Capacity: 440</div>
        </div>
      </a>
      <a class="step own" id="aircraft26" data-aircraftid="26">
        <div class="content">
          <div class="title">Airbus A350-800</div>
          <div class="description">Range: 9,250mi // Capacity: 400</div>
        </div>
      </a>
      <a class="step own" id="aircraft27" data-aircraftid="27">
        <div class="content">
          <div class="title">Airbus A350-900</div>
          <div class="description">Range: 9,000mi // Capacity: 440</div>
        </div>
      </a>
      <a class="step own" id="aircraft28" data-aircraftid="28">
        <div class="content">
          <div class="title">Airbus A350-1000</div>
          <div class="description">Range: 9,500mi // Capacity: 475</div>
        </div>
      </a>
      <a class="step own" id="aircraft29" data-aircraftid="29">
        <div class="content">
          <div class="title">Airbus A380-800</div>
          <div class="description">Range: 9,755mi // Capacity: 850</div>
        </div>
      </a>
      <a class="step own" id="aircraft30" data-aircraftid="30">
        <div class="content">
          <div class="title">Bombardier CRJ200ER</div>
          <div class="description">Range: 1,895mi // Capacity: 50</div>
        </div>
      </a>
      <a class="step own" id="aircraft31" data-aircraftid="31">
        <div class="content">
          <div class="title">Bombardier CRJ700</div>
          <div class="description">Range: 1,400mi // Capacity: 78</div>
        </div>
      </a>
      <a class="step own" id="aircraft32" data-aircraftid="32">
        <div class="content">
          <div class="title">Bombardier CRJ900</div>
          <div class="description">Range: 1,200mi // Capacity: 90</div>
        </div>
      </a>
      <a class="step own" id="aircraft33" data-aircraftid="33">
        <div class="content">
          <div class="title">Bombardier CRJ1000</div>
          <div class="description">Range: 1,640mi // Capacity: 104</div>
        </div>
      </a>
      <a class="step own" id="aircraft34" data-aircraftid="34">
        <div class="content">
          <div class="title">Embraer ERJ 145XR</div>
          <div class="description">Range: 2,900mi // Capacity: 50</div>
        </div>
      </a>
      <a class="step own" id="aircraft35" data-aircraftid="35">
        <div class="content">
          <div class="title">Embraer E170</div>
          <div class="description">Range: 2,070mi // Capacity: 80</div>
        </div>
      </a>
      <a class="step own" id="aircraft36" data-aircraftid="36">
        <div class="content">
          <div class="title">Embraer E175</div>
          <div class="description">Range: 2,070mi // Capacity: 88</div>
        </div>
      </a>
      <a class="step own" id="aircraft37" data-aircraftid="37">
        <div class="content">
          <div class="title">Embraer E190</div>
          <div class="description">Range: 2,070mi // Capacity: 114</div>
        </div>
      </a>
      <a class="step own" id="aircraft38" data-aircraftid="38">
        <div class="content">
          <div class="title">Embraer E195</div>
          <div class="description">Range: 1,600mi // Capacity: 122</div>
        </div>
      </a>
    </div>
  </div>
  <div class="line" style="height: 500px;"></div>
  <div class="aircraft-info">
    <div class="empty" style="display: none;">select an aircraft to view</div>
    <div class="row-container">
      <h2 class="ui header"><%= full_name %></h2>
      <div class="row config-row"><span class="label">Capacity</span> <span><%= capacity %> passengers<span></div>
      <div class="row config-row"><span class="label">Range</span> <span><%= comma(range) %> miles<span></div>
      <div class="row config-row"><span class="label">Speed</span> <span><%= speed %>mph<span></div>
      <div class="row config-row"><span class="label">Turn Time</span> <span><%= turn_time %> minutes<span></div>
      <div class="row config-row" data-rowtype="price"><span class="label">Price</span> <span class="price" data-html="<%= parseInt(discount) %>% discount per plane (up to 50%)">$<%= comma(price) %></span><span class="total"></span></div>
      <div class="row config-row" data-rowtype="quantity">
        <div class="ui checkbox" style="opacity:0;"><input type="checkbox"><label></label></div>
        <div class="label">Quantity</div>
        <span>1</span><input type="range" value="1" min="1" max="<%= maxFlights %>">
      </div>
      <h4 class="ui header">Configuration</h4>
			<% if(user.configs.length > 0) { %>
				<div class="ui selection dropdown" data-rowtype="configuration">
					<input type="hidden" name="configuration_id" value="<%= user.configs[0].id %>">
					<div class="default text"><%= user.configs[0].name + stringifyConfig(user.configs[0].config) %></div>
					<i class="dropdown icon"></i>
					<div class="menu">
						<% _.each(user.configs,function(config){ %>
							<div class="item" data-value="<%= config.id %>" data-json="<%= JSON.stringify(config.config).replace(/\"/gi,'\'') %>"><%= config.name + stringifyConfig(config.config) %></div>
						<% }) %>
					</div>
				</div>
			<% } %>
      <div class="row config-row" data-cabintype="f">
        <div class="ui checkbox" style="opacity:0;"><input type="checkbox"><label></label></div>
        <div class="label">First</div>
        <span>3</span><input type="range" value="<%= config.def['f'] %>" min="0" max="<%= config.max['f'] %>">
      </div>
      <div class="row config-row" data-cabintype="j">
        <div class="ui checkbox" style="opacity:0;"><input type="checkbox"><label></label></div>
        <div class="label">Business</div>
        <span>12</span><input type="range" value="<%= config.def['j'] %>" min="0" max="<%= config.max['j'] %>">
      </div>
      <div class="row config-row" data-cabintype="p">
        <div class="ui checkbox" style="opacity:0;"><input type="checkbox"><label></label></div>
        <div class="label">Premium</div>
        <span>15</span><input type="range" value="<%= config.def['p'] %>" min="0" max="<%= config.max['p'] %>">
      </div>
      <div class="row config-row" data-cabintype="y">
        <div class="ui checkbox" style="opacity:0;"><input type="checkbox"><label></label></div>
        <div class="label">Economy</div>
        <span>69</span><input type="range" value="<%= config.def['y'] %>" min="0" max="<%= config.max['y'] %>">
      </div>
      <div class="ui button positive" id="purchaseButton">Purchase Aircraft</div>
    </div>
  </div>
	</div>
		</script>
		<div id="leftColumn">
		</div>
    <div class="shaded grid game-window">
			<div class="column" id="gameList"></div>
		</div>
    <div class="shaded grid login-window" style="display:none;">
      <div class="ui grid">
        <div class="three column row">
          <div class="ui column"></div>
          <div class="ui raised segment column form login-form">
            <div class="ui header center aligned">Welcome to Air Tycoon</div>
            <div class="ui two item blue menu" id="loginMenu">
              <a class="active item" data-tab="sign-up">Sign Up</a>
              <a class="item" data-tab="login">Login</a>
            </div>
            <form data-tab="sign-up" id="signupForm">
              <div class="field">
                <input placeholder="Username" type="text" name="[user]username" data-variation="inverted">
              </div>
              <div class="field">
                <input placeholder="Name" type="text" name="[user]name" data-variation="inverted">
              </div>
              <div class="field">
                <input placeholder="Email" type="email" name="[user]email" data-variation="inverted">
              </div>
              <div class="field">
                <input placeholder="Password" type="password" name="[user]password" data-variation="inverted">
              </div>
              <input type="submit" class="button blue ui full" value="Sign Up" />
            </form>
            <form data-tab="login" style="display:none;" id="loginForm">
              <div class="field">
                <input placeholder="Username" type="text" name="username">
              </div>
              <div class="field">
                <input placeholder="Password" type="password" name="password">
              </div>
              <input type="submit" class="button blue ui full" value="Login" />
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="js/json2.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/underscore.js"></script>
    <script src="js/q.js"></script>
    <script src="js/backbone.js"></script>
    <script src="js/backbone.localStorage.js"></script>
    <script src="js/airline.js"></script>
    <script src="js/airport.js"></script>
    <script src="js/aircraft.js"></script>
    <script src="js/main.js"></script>
    <script src="js/game.js"></script>
    <script src="js/alliance.js"></script>
    <script src="js/user.js"></script>
    <script src="js/menu.js"></script>
    <script src="js/chat.js"></script>
    <script src="js/semantic.min.js"></script>
  </body>
</html>
