<!DOCTYPE !html>
<html>
  <head>
    <title>Air Tycoon</title>
    <link rel="stylesheet" href="css/semantic.min.css">
    <link rel="stylesheet" href="css/home.css">
  </head>
  <body>
    <script id="flightTemplate" type="text/template">
      <li><%= airline %> <%= flightNumber %> (<%= origin %>-<%= destination %>) on <%= equipment %></li>
    </script>
    <script id="airportTemplate" type="text/template">
			<div class="ui dividing header airport">
			  <div class="content">
					<div class="ui horizontal statistics mini">
					  <div class="ui statistic iata">
							<div class="value">
								  <%= iata %>
								</div>
							</div>
						</div>
						<div class="airport data">
							<span><%= name %><br/>
							<%= city %>, <%= country %></span>
						</div>
					</div>
			  </div>
			</div>
			</script>
    <div id="flightsList" style="display: none;">
    </div>
	  <div class="column" id="airportList" style="width: 250px;">
			
		</div>
    <div class="shaded grid examples">
      <div class="ui grid">
        <div class="three column row">
          <div class="ui column"></div>
          <div class="ui raised segment column form login-form">
            <div class="ui header center aligned">Welcome to Air Tycoon</div>
            <div class="ui two item blue menu" id="loginMenu">
              <a class="active item" data-tab="sign-up">Sign Up</a>
              <a class="item" data-tab="login">Login</a>
            </div>
            <form data-tab="sign-up" onsubmit="alert('submitted')">
              <div class="field">
                <input placeholder="Name" type="text">
              </div>
              <div class="field">
                <input placeholder="Username" type="text">
              </div>
              <div class="field">
                <input placeholder="Email" type="email">
              </div>
              <div class="field">
                <input placeholder="Password" type="password">
              </div>
              <div class="button blue ui full">Sign Up</div>
            </form>
            <div data-tab="login" style="display:none;">
              <div class="field">
                <input placeholder="Username" type="text">
              </div>
              <div class="field">
                <input placeholder="Password" type="password">
              </div>
              <div class="button blue ui full">Login</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/json2.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/underscore.js"></script>
    <script src="js/backbone.js"></script>
    <script src="js/backbone.localStorage.js"></script>
    <script src="js/airport.js"></script>
    <script src="js/main.js"></script>
    <script src="js/semantic.min.js"></script>
  </body>
</html>
